@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;700&display=swap');




*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

/* customizing tooltip */
.icon {
  position: relative;
  cursor: pointer;
}

.icon::before {
  content: attr(data-title);
  position: absolute;
  right: 50%;
  

  transform: translateX(-50%);
  background-color: rgba(45, 45, 45, 0.8);
  color: #fff;
  padding: 4px 14px;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.2s, visibility 0.2s;
}

.icon:hover::before {
  opacity: 1;
  visibility: visible;
}

 .project-card {
  position: relative;

}

.project-card-content {
  position: absolute;
  display: none;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.project-card:hover .project-card-content {
  display: flex;
  padding: 4px;
  align-items: flex-start;
  border-radius: 20px;
  animation-name: hover-animation-content;
  animation-duration: 0.3s;
}

@keyframes hover-animation-content {
  from {
      opacity: 0;
      bottom: -30px;
  }

  to {
      opacity: 1;
      bottom: 0;
  }
}

 .overlay {
  display: none;
}

.project-card:hover .overlay {
  display: block;
  background-color: rgb(37, 37, 37);
  opacity: .95;
  position: absolute;
  border-radius: 5px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  animation-name: hover-animation;
  animation-duration: 0.3s;
}

@keyframes hover-animation {
  from {
      opacity: 0;
  }

  to {
      opacity: .95;
  }
} 